*{
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    font-family: sans-serif;
    box-sizing: border-box;

}
:root {
    --primary-color: rgb(242, 240, 240);
    --secondary-color: rgb(53, 149, 213);
    --shadow-grey: #5f5f5fbd;

    /* for responsive-layout */

    --sm-screen-width: 600px;

    /* for font-size: ; */

    --xs-font-vw: 1vw;
    --sm-font-vw: 1.5vw;
    --md-font-vw: 2vw;
    --lg-font-vw: 5vw;
    --xl-font-vw: 8vw;


    --xs-font: 0.5;
    --sm-font: 1.5vw;
    --md-font: 2vw;
    --lg-font: 3vw;
    --xl-font: 5vw;



}